
# Environments
genesis-venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE specific
.idea/

# Blockchain files
BlockChain/*.json

#config
config.json 
