certifi==2019.6.16
chardet==3.0.4
falcon==1.4.1
falcon-cors==1.1.7
gunicorn==19.9.0
idna==2.8
pkg-resources==0.0.0
pyasn1==0.4.5
python-mimeparse==1.6.0
requests==2.22.0
rsa==4.0
six==1.12.0
urllib3==1.25.3
